@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-image: url("https://images.unsplash.com/photo-1629904853716-f0bc54eea481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.whatsap-img {
    background-image: url("https://images.unsplash.com/photo-1587497366757-beefb6fa1f42?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.mark-img {
    background-color: #e4a576;
}

.brand-img {
    background-color: #ccd5d2;
}

.seo-img {
    background-color: #fde5d6;
}

.csw-img {
    background-color: #698ea2;
}