@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nanum+Myeongjo&family=Syne:wght@400..800&display=swap');

body ul {
    font-family: "EB Garamond", serif;
}

h1 {
    font-family: "Nanum Myeongjo", serif;
}

.menu {
    font-family: "Libre Bodoni", serif;
}

.head h1, p {
    font-family: "Antic Didone", serif;
}

.service h1 {
    font-family: "Nanum Myeongjo", serif;
    text-transform: uppercase;
}

.titre {
    font-family: "Syne", sans-serif;
}

.custom-img {
    background-image: url("https://images.unsplash.com/photo-1629904853716-f0bc54eea481?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.whatsap-img {
    background-image: url("/whatsappBanner.jpg");
    
}

.mark-img {
    background-color: #c2b19c;
}

.brand-img {
    background-color: #feab73;
}

.seo-img {
    background-color: #ccc6bd;
}

.csw-img {
    background-color: #000;
}

.evn-img {
    background-color: #cab6ad;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .animate-slide {
    animation: scroll 30s infinite linear;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slide {
    width: 350px;
    padding-top: 50px;
  }